# IntelliJ project files
.idea
*.iml
out
gen
target
work

atlassian-ide-plugin.xml
dependency-reduced-pom.xml
logs
*.iml
*.ipr
*.log
#Eclipse-specific
.settings/
.classpath
.project

.gradle/
.nb-gradle/
.settings/
bin/
build/
gen*
*.DS_Store
.nb-gradle-properties
**/gradle-app.setting
gradle-app.setting
**/schemadoc
